<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>C23DAE17-150D-43A3-A607-063404AB39D2.playgroundpage</string>
		<string>My Playground.playgroundpage</string>
		<string>3792AD47-286E-44F3-96C9-5ABC2C46AF35.playgroundpage</string>
	</array>
</dict>
</plist>
